.app {
  &__inner {
    width: 57rem;
  }
  img {
    margin-bottom: 20rem;
  }
  @include maxWidth(767) {
    img{
      margin-bottom: 5rem;
    }
    &__inner {
      width: 100%;
    }
    
  }
}
