.banner {
  // padding: 13rem 0;
  margin-top: -122px;
  width: 100%;
  height: 1080px;
  background: url('../images/img-banner.png') no-repeat center / cover;
  @include flexboxUpdate(
    (
      align-items: center,
    )
  );
  &__inner {
    margin-top: 100px + 5px;
    // padding-bottom: calc(10rem - 1.8rem);
    --spacing: 0;
    --column: 2;
    @include flexboxUpdate(
      (
        align-items: center,
      )
    );
    margin-left: calc(-1 * var(--spacing));
  }
  &__item {
    width: calc(calc(100% / var(--column)) - var(--spacing));
    margin-left: var(--spacing);
    &-content {
      width: 52rem;
    }
    &-title {
      font-size: 6rem;
      color: $white;
      line-height: 1.2;
      font-weight: 400;
      font-family: $font-raleWay;
      > span {
        font-weight: bold;
      }
    }
    &-desc {
      font-size: 2.4rem;
      line-height: 1.4;
      color: $white;
    }
    &-image {
      max-width: unset;
    }
    &-btn {
      // display: inline-block;
      padding: 2.5rem 5.5rem;
      background-color: #08e5a1;
      color: #4a44f2;
      @include flexboxUpdate(
        (
          display: inline-flex,
        )
      );
      i {
        margin-right: 1.5rem;
      }
    }
  }
  @include tablet{
    margin-top: -30rem;
    &__inner{
      margin-top: 0;
    }
    &__item{
      &-image{
        max-width: 100%;
      }
      &-content{
        width: 100%;
      }
      &-title{
        font-size: 3.5rem;
        margin-bottom: 3rem;
      }
      &-desc{
        font-size: 1.6rem;
        margin-bottom: 5rem;
      }
    }
  }
  @include maxWidth(767) {
    height: 85rem;
    &__inner {
      margin-top: 0;
      --column: 1;
      flex-direction: column-reverse;
    }
    &__item {
      &-content {
        width: 100%;
      }
      &-title {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
      &-desc {
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }
      &-image {
        max-width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}
