.protect {
  &__inner {
    @include flexboxUpdate(
      (
        align-items: center,
        justify-content: flex-start,
      )
    );
  }
  &__item {
    &:last-child {
      margin-left: 10rem;
    }
    img {
      max-width: unset;
      margin-left: -19rem;
    }
    &-title {
      font-size: 3.6rem;
      font-weight: bold;
      font-family: $font-raleWay;
      margin-bottom: 4.5rem;
      line-height: 1.6;
    }
    &-desc {
      @include textClamp(3);
      line-height: 1.6;
      font-size: 1.8rem;
      color: $desc-color;
      margin-bottom: 6.5rem;
    }
  }
  @include desktopMedium() {
    img {
      max-width: 100%;
      margin-left: 0;
    }
    &__item {
      width: 50%;
      &-title {
        font-size: 3.5rem;
        margin-bottom: 3rem;
      }
      &-desc {
        font-size: 1.6rem;
        margin-bottom: 3rem;
      }
    }
  }
  @include tablet {
    img {
      max-width: 100%;
      margin-left: 0;
    }
    &__item {
      width: 50%;
      &-title {
        font-size: 3.5rem;
        margin-bottom: 3rem;
      }
      &-desc {
        font-size: 1.6rem;
        margin-bottom: 3rem;
      }
    }
  }
  @include maxWidth(767) {
    &__inner {
      margin: 5rem 0;
      flex-direction: column;
    }
    &__item {
      img {
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 3rem;
      }
      &-title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
      &-desc {
        font-size: 1.4rem;
        margin-bottom: 3rem;
      }
      &:last-child {
        margin-left: 0;
      }
    }
  }
}
