.tool {
  &__inner {
    padding-bottom: 20rem;
    @include flexboxUpdate(
      (
        align-items: center,
      )
    );
  }
  &__item {
    img {
      max-width: unset;
    }
  }
  &__content {
    &-title {
      font-size: 3.6rem;
      font-weight: bold;
      font-family: $font-raleWay;
    }
    &-box {
      @include flexboxUpdate(());
      &-icon {
        color: #4a44f2;
        font-size: 2rem;
      }
      &-info {
        h4 {
          font-size: 2.2rem;
          font-family: $font-raleWay;
          font-weight: bold;
        }
        p {
          font-size: 1.8rem;
          line-height: 1.8;
          color: $desc-color;
          @include textClamp(2);
        }
      }
    }
  }
  @include tablet {
    img {
      max-width: 100%;
    }
    &__inner {
      padding-bottom: 10rem;
    }
    &__item {
      width: 50%;
    }
    &__content {
      &-title {
        font-size: 3.5rem;
        margin-bottom: 3rem;
      }
      &-box {
        margin-bottom: 3rem;
      }
      &-box-info {
        h4 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
  @include maxWidth(767) {
    &__inner {
      padding-top: 5rem;
      padding-bottom: 5rem;
      flex-direction: column;
    }
    &__item {
      &:first-child {
        order: 1;
      }
      img {
        margin-bottom: 3rem;
        max-width: 100%;
      }
    }
    &__content {
      &-title {
        font-size: 2.5rem;
        margin-bottom: 5rem;
      }

      &-box {
        margin-bottom: 3rem;
        &-info {
          h4 {
            font-size: 1.8rem;
          }
          p {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
