.tool {
  &__inner {
    padding-bottom: 20rem;
    @include flexboxUpdate(
      (
        align-items: center,
      )
    );
  }
  &__item {
    img {
      max-width: unset;
    }
  }
  &__content {
    &-title {
      font-size: 3.6rem;
      font-weight: bold;
      font-family: $font-raleWay;
    }
    &-box {
      @include flexboxUpdate(());
      &-icon {
        color: #4a44f2;
        font-size: 2rem;
      }
      &-info {
        h4 {
          font-size: 2.2rem;
          font-family: $font-raleWay;
          font-weight: bold;
        }
        p {
          font-size: 1.8rem;
          line-height: 1.8;
          @include textClamp(2);
        }
      }
    }
  }
}
