.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}
.container {
  max-width: $container + 30px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.hamburger {
  position: relative;
  display: block;
  width: 3rem;
  margin-left: auto;
  // height: 35px;
  cursor: pointer;
  z-index: 1;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar {
  content: '';
  width: 50%;
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.hamburger::after {
  content: '';
  width: 75%;
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.hamburger::before {
  content: '';
  width: 100%;
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.hamburger.is-active::after {
  width: 100%;
  transform: rotate(45deg) translate(-8px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
