// global variable
$container: 1170px;
$wrapper: 1920px;

// font
$font-openSan: 'Open Sans', sans-serif;
$font-raleWay: 'Raleway', sans-serif;

// color
$white: #ffffff;
$color-bg: #7850e4;
$desc-color: #6a727f;
