section.app
  .app__inner.m-auto.text-center
    +blockHeading({
      title:"Application screenshot Preview",
      desc:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. "
    })
  img(src="../images/img-app.png")