section.app
  .app__inner.m-auto.text-center
    +blockHeading({
      title:"Application screenshot Preview",
      desc:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. "
    })
  .app__phone
    .app__phone-top
      img(src="../images/img-device1.png")
    .app__phone-bottom
      img(src="../images/img-device2.png")
    .app__phone-left
      img(src="../images/img-device3.png")
    .app__phone-right
      img(src="../images/img-device4.png")
  .app__screen
    img(src="../images/img-device-app1.png")
    img(src="../images/img-device-app2.png")
    img(src="../images/img-device-app3.png")
    img(src="../images/img-device-app1.png")
    img(src="../images/img-device-app2.png")
    img(src="../images/img-device-app3.png")

