section.banner
  .container
    .banner__inner
      .banner__item
        .banner__item-content
          h1.banner__item-title.mb-6 <span>Now so easy</span> just download <span>the app</span>
          p.banner__item-desc.mb-10 Our app tracks and fights the virus from our hands, it's free a
          a(href="#").banner__item-btn
            i.fas.fa-download
            .btn.btn--blue Download now
      .banner__item
        img(src="../images/img-banner-iphone.png").banner__item-image