section.download
  .download__inner
    .container
      .download__box.mb-10
        .download__item
          h3.download__item-title.mb-5 For a better experience download the app
          p.download__item-desc.mb-7 Start using our easy-to-use tools with multiple options to impr Start using our easy-to-use tools with multiple options to impr
          .download__btn
            a(href="#").download__btn-button.mr-3
              i.fab.fa-apple.download__btn-icon
              |AppStore
            a(href="#").download__btn-button
              i.fab.fa-android.download__btn-icon 
              |PlayStore
        .download__item
          img(src="../images/img-download.png")