footer.footer
  .container
    .footer__inner
      .footer__item
        img(src="../images/img-logo-footer.png").mb-5
        p.footer__item-desc.mb-5 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        .footer__social
          a(href="#").footer__social-icon
            i.fab.fa-facebook-f
          a(href="#").footer__social-icon
            i.fab.fa-instagram
          a(href="#").footer__social-icon
            i.fab.fa-pinterest
          a(href="#").footer__social-icon
            i.fab.fa-linkedin-in

      .footer__item
        h3.footer__item-title.mb-5 Usefull Links
        ul.footer__list
          li.footer__list-item
            a(href="#").footer__list-link About Us    
          li.footer__list-item
            a(href="#").footer__list-link Contact Us
          li.footer__list-item
            a(href="#").footer__list-link Terms of Services
          li.footer__list-item
            a(href="#").footer__list-link Plan & Precing
          li.footer__list-item
            a(href="#").footer__list-link Site Map
      .footer__item
        h3.footer__item-title.mb-5 Contact Us
        ul.footer__list
          li.footer__list-item
            a(href="#").footer__list-link Phone Number: ( + 051 ) 958 23 78 51 
            a(href="#").footer__list-link Phone Number 2: ( + 051 ) 958 23 78 51 
          li.footer__list-item
            a(href="#").footer__list-link Email: support@ocatavian.io 
            a(href="#").footer__list-link Fax: support@ocatavian.io
          li.footer__list-item
            a(href="#").footer__list-link.footer__list-link--pre Address: Envato Pty Ltd 13/2 Permanent ST melbourne VLC 3000 - Viet Nam