header.header
  .container
    .header__inner
      a.header__inner-logo
        img(src="../images/img-logo.png")
      button.header-menu-toggle.hamburger
        span.bar
      nav.header__menu
        ul.header__menu-list
          li.header__menu-list-item
            a(href="#").header__menu-list-link Home
            i.fal.fa-chevron-down
          li.header__menu-list-item
            a(href="#").header__menu-list-link About Us
          li.header__menu-list-item
            a(href="#").header__menu-list-link Services
            i.fal.fa-chevron-down
          li.header__menu-list-item
            a(href="#").header__menu-list-link Blog
          li.header__menu-list-item
            a(href="#").header__menu-list-link Contact
      //- .header__icon
      //-   .header__icon-search
      //-     i.fal.fa-search
      //-   .header__icon-bar
      //-     i.fa.fa-bars

