section.protect
  .container
    .protect__inner.mt-10.mb-10
      .protect__item
        img(src="../images/img-protect.png")
      .protect__item
        .protect__item-title We always protect your privacy
        .protect__item-desc Phasellus pulvinar iaculis nunc at placerat. Sed porta sollicit
        a(href="#").btn.btn--primary.btn--spacing Protect yourself