section.review

  .review__inner.mt-10.mb-10
    .review__heading.text-center
      +blockHeading({
        title:"See our Customers’ Reviews",
        desc:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's  t it to m"
      })
    .review__list
      .review__item
        img(src="../images/img-icon-review.png").review__item-icon
        h3.review__item-title.mb-5 I am convinced that <span>app could be the only rival that</span> an  can bea the coronavirus, i am willing to lose my proactivity
        img(src="../images/img-avatar-review.png").review__item-avatar.mb-3
        span.review__item-author John Doe
      .review__item
        img(src="../images/img-icon-review.png").review__item-icon
        h3.review__item-title.mb-5 I am convinced that <span>app could be the only rival that</span> an  can bea the coronavirus, i am willing to lose my proactivity
        img(src="../images/img-avatar-review.png").review__item-avatar.mb-3
        span.review__item-author John Doe
      .review__item
        img(src="../images/img-icon-review.png").review__item-icon
        h3.review__item-title.mb-5 I am convinced that <span>app could be the only rival that</span> an  can bea the coronavirus, i am willing to lose my proactivity
        img(src="../images/img-avatar-review.png").review__item-avatar.mb-3
        span.review__item-author John Doe
      .review__item
        img(src="../images/img-icon-review.png").review__item-icon
        h3.review__item-title.mb-5 I am convinced that <span>app could be the only rival that</span> an  can bea the coronavirus, i am willing to lose my proactivity
        img(src="../images/img-avatar-review.png").review__item-avatar.mb-3
        span.review__item-author John Doe