section.tool
  .container
    .tool__inner
      .tool__item
        .tool__content
          h3.tool__content-title.mb-9 A tool at your fingertips
          .tool__content-box.mb-7
            i.fa.fa-check.tool__content-box-icon
            .tool__content-box-info.ml-3
              h4.mb-3 Watch your health
              p  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publi
          .tool__content-box.mb-7
            i.fa.fa-check.tool__content-box-icon
            .tool__content-box-info.ml-3
              h4.mb-3 Watch your health
              p  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publi
        .tool__btn
          a(href="#").btn.btn--spacing.btn--primary How does it work
      .tool__item
        img(src="../images/img-tool.png")