section.user
  .container
    .user__inner
      .user__item
        h3.user__item-title.mb-10 Available for iOS and Android
        .user__item-box.mb-10
          h4.user__item-box-title.mb-3 iOS user
          .user__item-box-line.user__item-box-line--64
          .user__item-info
            p 64<span>%</span>
            p.mt-2 more than 200 websites built with the highest quality.
        .user__item-box
          h4.user__item-box-title.mb-3 Android user
          .user__item-box-line.user__item-box-line--36
          .user__item-info
            p 36<span>%</span>
            p.mt-2 more than 200 websites built with the highest quality.
      .user__item
        img(src="../images/img-user.png")