section.user
  .container
    .user__inner
      .user__item
        h3.user__item-title Available for iOS and Android
        .user__item-box
          h4.user__item-box-title iOS user
          .user__item-box-line
          
      .user__item
        img(src="../images/img-user.png")