section.virus
  .container
    .virus__inner
      .virus__column
        .virus__column-list
          .virus__item
            a(href="#")
              .virus__item-content
                img(src="../images/img-virus-icon1.png")
                span Infected Statistics
          .virus__item
            a(href="#")
              .virus__item-content
                img(src="../images/img-virus-icon2.png")
                span Battle the Virus
            a(href="#")
              .virus__item-content.mt-3
                img(src="../images/img-virus-icon3.png")
                span Real-time Info
      .virus__column
        .virus__column-info
          +blockHeading({
            title:"Stopping the virus is the priority",
            desc: "It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
            textBtn:"know More"
          })