.header {
  background-color: $color-bg;
  &__inner {
    padding: 4rem 0;

    @include flexboxUpdate(
      (
        align-items: center,
        justify-content: space-between,
      )
    );
  }
  &__menu {
    &-list {
      @include flexboxUpdate(
        (
          justify-content: flex-start,
          align-items: center,
        )
      );
      &-item {
        position: relative;
        &::before {
          transition: all 0.2s linear;
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: 2rem;
          background-color: $white;
        }
        &:hover {
          &::before {
            width: 100%;
          }
          > i {
            transition: all 0.2s linear;
            transform: rotate(-180deg);
          }
        }
        &:not(:first-child) {
          margin-left: 6rem;
        }
        > i {
          color: $white;
          margin-left: 1rem;
        }
      }
    }
  }
  &__icon {
    @include flexboxUpdate(());
    &-search,
    &-bar {
      i {
        color: $white;
      }
    }
  }
  @include maxWidth(767) {
    &__menu {
      display: none;
    }
  }
}
