html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem; }

.align-item-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-item-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.align-item-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-content-betwee {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.m-auto {
  margin: 0 auto; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.m-4 {
  margin: 4rem; }

.m-5 {
  margin: 5rem; }

.m-6 {
  margin: 6rem; }

.m-7 {
  margin: 7rem; }

.m-8 {
  margin: 8rem; }

.m-9 {
  margin: 9rem; }

.m-10 {
  margin: 10rem; }

.ml-auto {
  margin-left: auto; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.ml-6 {
  margin-left: 6rem; }

.ml-7 {
  margin-left: 7rem; }

.ml-8 {
  margin-left: 8rem; }

.ml-9 {
  margin-left: 9rem; }

.ml-10 {
  margin-left: 10rem; }

.mr-auto {
  margin-right: auto; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mr-5 {
  margin-right: 5rem; }

.mr-6 {
  margin-right: 6rem; }

.mr-7 {
  margin-right: 7rem; }

.mr-8 {
  margin-right: 8rem; }

.mr-9 {
  margin-right: 9rem; }

.mr-10 {
  margin-right: 10rem; }

.mt-auto {
  margin-top: auto; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-6 {
  margin-top: 6rem; }

.mt-7 {
  margin-top: 7rem; }

.mt-8 {
  margin-top: 8rem; }

.mt-9 {
  margin-top: 9rem; }

.mt-10 {
  margin-top: 10rem; }

.mb-auto {
  margin-bottom: auto; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-7 {
  margin-bottom: 7rem; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-9 {
  margin-bottom: 9rem; }

.mb-10 {
  margin-bottom: 10rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pt-6 {
  padding-top: 6rem; }

.pt-7 {
  padding-top: 7rem; }

.pt-8 {
  padding-top: 8rem; }

.pt-9 {
  padding-top: 9rem; }

.pt-10 {
  padding-top: 10rem; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pl-4 {
  padding-left: 4rem; }

.pl-5 {
  padding-left: 5rem; }

.pl-6 {
  padding-left: 6rem; }

.pl-7 {
  padding-left: 7rem; }

.pl-8 {
  padding-left: 8rem; }

.pl-9 {
  padding-left: 9rem; }

.pl-10 {
  padding-left: 10rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.pr-4 {
  padding-right: 4rem; }

.pr-5 {
  padding-right: 5rem; }

.pr-6 {
  padding-right: 6rem; }

.pr-7 {
  padding-right: 7rem; }

.pr-8 {
  padding-right: 8rem; }

.pr-9 {
  padding-right: 9rem; }

.pr-10 {
  padding-right: 10rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pb-6 {
  padding-bottom: 6rem; }

.pb-7 {
  padding-bottom: 7rem; }

.pb-8 {
  padding-bottom: 8rem; }

.pb-9 {
  padding-bottom: 9rem; }

.pb-10 {
  padding-bottom: 10rem; }

.fz-1 {
  font-size: 1rem; }

.fz-2 {
  font-size: 2rem; }

.fz-3 {
  font-size: 3rem; }

.fz-4 {
  font-size: 4rem; }

.fz-5 {
  font-size: 5rem; }

.fz-6 {
  font-size: 6rem; }

.fw-bold {
  font-weight: bold; }

.fw-600 {
  font-weight: 600; }

.fw-500 {
  font-weight: 500; }

.fw-400 {
  font-weight: 400; }

.fw-300 {
  font-weight: 300; }

.text-start {
  text-align: left; }

.text-end {
  text-align: right; }

.text-center {
  text-align: center; }

.text-decoration-none {
  text-transform: none; }

.text-decoration-underline {
  text-transform: underline; }

.text-decoration-line-through {
  text-transform: line-through; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.header {
  border-bottom: 2px solid #a283ec;
  position: relative;
  z-index: 1; }
  .header__inner {
    padding: 4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .header__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .header__menu-list-item {
      position: relative; }
      .header__menu-list-item::before {
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-top: 2rem;
        background-color: #ffffff; }
      .header__menu-list-item:hover::before {
        width: 100%; }
      .header__menu-list-item:hover > i {
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg); }
      .header__menu-list-item:not(:first-child) {
        margin-left: 6rem; }
      .header__menu-list-item > i {
        color: #ffffff;
        margin-left: 1rem; }
  .header__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .header__icon-search i, .header__icon-bar i {
      color: #ffffff; }
  @media screen and (max-width: 767px) {
    .header__menu {
      display: none; } }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-size: 1.4rem; }

img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: #ffffff; }

.banner {
  margin-top: -122px;
  width: 100%;
  height: 1080px;
  background: url("../images/img-banner.png") no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .banner__inner {
    margin-top: 105px;
    --spacing: 0;
    --column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: calc(-1 * var(--spacing)); }
  .banner__item {
    width: calc(calc(100% / var(--column)) - var(--spacing));
    margin-left: var(--spacing); }
    .banner__item-content {
      width: 52rem; }
    .banner__item-title {
      font-size: 6rem;
      color: #ffffff;
      line-height: 1.2;
      font-weight: 400;
      font-family: "Raleway", sans-serif; }
      .banner__item-title > span {
        font-weight: bold; }
    .banner__item-desc {
      font-size: 2.4rem;
      line-height: 1.4;
      color: #ffffff; }
    .banner__item-image {
      max-width: unset; }
    .banner__item-btn {
      padding: 2.5rem 5.5rem;
      background-color: #08e5a1;
      color: #4a44f2;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .banner__item-btn i {
        margin-right: 1.5rem; }
  @media screen and (max-width: 767px) {
    .banner {
      height: 85rem; }
      .banner__inner {
        margin-top: 0;
        --column: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
      .banner__item-content {
        width: 100%; }
      .banner__item-title {
        font-size: 3rem;
        margin-bottom: 2rem; }
      .banner__item-desc {
        font-size: 1.4rem;
        margin-bottom: 2rem; }
      .banner__item-image {
        max-width: 100%;
        margin-bottom: 2rem; } }

.btn {
  border: none;
  outline: none;
  font-weight: bold; }
  .btn--blue {
    color: #4a44f2; }
