extends layout/layout

block vars
	-title = 'Octavian template'
	-bodyClass = 'home-page'

block container
	include blocks/banner
	include blocks/virus
	include blocks/tool
	include blocks/app
	include blocks/user
	include blocks/protect
	include blocks/download